#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.title {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 28px;
}